.active {
  background-color: #36618fca !important;
}
.nav-links {
  text-decoration: none;
  padding: 0.5rem;
  color: #fafafa;
  background-color: #14213d;
  border: 1px solid #000;
}


.card {
  width: 15rem;
  display: flex;
  background: #fff7ed;
  color: #9a3412;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
}

.menu-cards {
  display: flex;
  padding: 0.5rem 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-header {
  margin: -16px;
}

.dish-name {
  background: #fef3c7;
  width: fit-content;
  padding: 0.2rem 1.5rem;
  display: inline;
  font-size: larger;
  border: 1px solid #9a3412;
  color: #9a3412;
  border-radius: 1rem;
}

.btn{
    padding: 0.5rem 3rem;
    width: auto;
    margin:0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.btn-primary{
  color: #fef3c7;
  background-color: #9a3412;
}
.btn-secondary{
  background-color: #fef3c7;
  color: #9a3412;
  border:1px solid #9a3412
}

.btn:disabled{
  pointer-events: none;
  cursor: not-allowed;
  color:#fafafa;
  background-color: grey;
}

.btn-container{
    display: flex;
    flex-direction: column;
}

.nonveg{
border:1px solid red;
padding:4px;
font-size: xx-small;
}
.veg{
border:1px solid green;
padding:4px;
font-size: xx-small;
}
.icons{
  margin:0.5rem
}